[SddmGreeterTheme]
Name=phantom-red
Description=Phantom Red SDDM - Hyprlock-inspired dark glassmorphic theme
Author=AMIT
Version=1.0
License=MIT
Type=sddm-theme
QtVersion=6
